### 1. Primul pas a fost de a crea setul de date si de a-l exporta ca fisier CSV, pentru a-l importa ulterior intr-un nou fisier Notebook

In [77]:
import pandas as pd

In [79]:
import os
print(os.getcwd())

C:\Users\alice\Lectii

### 2. Importarea datelor (N.B.Pentru a salva fisierul din format ipynb in csv am apelat la urmatoarea formula: df.to_csv(r"Path to store the exported CSV file\File Name.csv", index=False))

In [82]:
vanzari = pd.read_csv("C:/Users/alice/Lectii/vanzari_retail_romania.csv")

In [84]:
vanzari

,ID,Nume Produs,Categorie,Pret,Discount (%),Cantitate Vândută,Venit Brut,Oras
0,1,Laptop,Electrocasnice,4000,10,10.0,40000,Bucuresti
1,2,Telefon,Electrocasnice,1500,5,NaN,75000,Cluj
2,3,Televizor,Electrocasnice,2000,0,30.0,60000,Timisoara
3,4,Frigider,Electrocasnice,3000,20,20.0,60000,Iasi
4,5,Laptop,Electrocasnice,4000,10,12.0,48000,Bucuresti
5,6,Telefon,Electrocasnice,1500,5,45.0,67500,Cluj
6,7,Televizor,Electrocasnice,2000,0,28.0,56000,Timisoara
7,8,Frigider,Electrocasnice,3000,20,NaN,54000,Iasi
8,9,Laptop,Electrocasnice,4000,10,12.0,48000,Bucuresti
9,10,Telefon,Electrocasnice,1500,5,55.0,82500,Cluj
10,11,Televizor,Electrocasnice,2000,0,32.0,64000,Timisoara
11,12,Frigider,Electrocasnice,3000,20,25.0,75000,Iasi

In [86]:
import statistics

In [88]:
df = pd.read_csv("C:/Users/alice/Lectii/vanzari_retail_romania.csv")

### 3. Inspectarea Datelor

In [91]:
# Afișarea setului de date creat 
df.head()

,ID,Nume Produs,Categorie,Pret,Discount (%),Cantitate Vândută,Venit Brut,Oras
0,1,Laptop,Electrocasnice,4000,10,10.0,40000,Bucuresti
1,2,Telefon,Electrocasnice,1500,5,NaN,75000,Cluj
2,3,Televizor,Electrocasnice,2000,0,30.0,60000,Timisoara
3,4,Frigider,Electrocasnice,3000,20,20.0,60000,Iasi
4,5,Laptop,Electrocasnice,4000,10,12.0,48000,Bucuresti

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 12 non-null     int64
 1   Nume Produs        12 non-null     object
 2   Categorie          12 non-null     object
 3   Pret               12 non-null     int64
 4   Discount (%)       12 non-null     int64
 5   Cantitate Vândută  10 non-null     float64
 6   Venit Brut         12 non-null     int64
 7   Oras               12 non-null     object
dtypes: float64(1), int64(4), object(3)
memory usage: 900.0+ bytes

In [95]:
df_imported = pd.read_csv('vanzari_retail_romania.csv')
df_imported.head()

,ID,Nume Produs,Categorie,Pret,Discount (%),Cantitate Vândută,Venit Brut,Oras
0,1,Laptop,Electrocasnice,4000,10,10.0,40000,Bucuresti
1,2,Telefon,Electrocasnice,1500,5,NaN,75000,Cluj
2,3,Televizor,Electrocasnice,2000,0,30.0,60000,Timisoara
3,4,Frigider,Electrocasnice,3000,20,20.0,60000,Iasi
4,5,Laptop,Electrocasnice,4000,10,12.0,48000,Bucuresti

### 4. Curățarea Datelor

##### 1. Eliminarea valorilor lipsă:

In [99]:
df_cleaned = df_imported.dropna(subset=['Cantitate Vândută'])

##### 2. Imputarea valorilor lipsă:

In [102]:
# Imputarea valorilor lipsă în 'Pret' și 'Discount (%)' folosind .loc
df_cleaned.loc[:, 'Pret'] = df_cleaned['Pret'].fillna(df_cleaned['Pret'].mean())
df_cleaned.loc[:, 'Discount (%)'] = df_cleaned['Discount (%)'].fillna(df_cleaned['Discount (%)'].median())

##### 3. Eliminarea duplicatelor:

In [105]:
# Eliminarea rândurilor duplicate
df_cleaned = df_cleaned.drop_duplicates()

##### 4. Corectarea tipurilor de date:

In [108]:
# Asigurarea tipurilor de date corecte
df_cleaned['Pret'] = df_cleaned['Pret'].astype(float)
df_cleaned['Cantitate Vândută'] = df_cleaned['Cantitate Vândută'].astype(float)

### 5. Transformarea Datelor

##### 1. Normalizarea coloanei 'Pret':

In [127]:
# Normalizarea prețurilor
df_cleaned['Pret_Normalizat'] = (df_cleaned['Pret'] - df_cleaned['Pret'].min()) / (df_cleaned['Pret'].max() - df_cleaned['Pret'].min())

##### 2. Crearea de noi coloane:

In [130]:
# Calculul veniturilor nete și pe produs
df_cleaned['Venit Net'] = df_cleaned['Venit Brut'] * (1 - df_cleaned['Discount (%)'] / 100)
df_cleaned['Venit per Produs'] = df_cleaned['Venit Net'] / df_cleaned['Cantitate Vândută']

### 6. Agregarea Datelor

##### 1. Calculul veniturilor totale pe oraș:

In [134]:
venituri_totale_oras = df_cleaned.groupby('Oras')['Venit Brut'].sum()

##### 2. Calculul mediei cantităților vândute pe produs:

In [137]:
# Calcularea mediei cantităților vândute pentru fiecare tip de produs
media_cantitate_produs = df_cleaned.groupby('Nume Produs')['Cantitate Vândută'].mean()

### 7. Exportarea Datelor Curățate

In [140]:
# Exportarea datelor curățate într-un fișier CSV
df_cleaned.to_csv('vanzari_retail_romania_curatat.csv', index=False)